.loginForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 65%;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .loginForm .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .loginForm .content .formControl  {
    width: 60%;
  }
  
  
  @media screen and (max-width: 1000px) {
    .loginForm span h1 {
      font-size: 1.5rem;
    }
    .loginForm .content .MuiFormControl-root {
      font-size: 1.5rem;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .loginForm {
      width: 80%;
      height: 65%;
    }
  
    .loginForm .content .formControl  {
    width: 80%;
  }
  }
  