* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
  }

  .fa{
    margin-left: 2px;
    margin-right: 0px;
}

  .header{
    display: flex;
    align-items: center;
  }

  .header h3{
    font-size: 25px;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  .logo-menu{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.fa{
    margin-left: 5px;
    margin-right: 5px;
}

.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

p{
  display: inline;
}

a{
    text-decoration: none;
    width: 160px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  a {
    font-size: 15px;
  }

  p{
    display: none;
  }

  li{
    font-size: 15px;
  }

  .fa-chevron-down{
    display: none;
  }

  .header h3 {
    font-size: 16px;
  }
}

a:hover{
  color: white;
}

.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.info-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-profile h4{
    margin: 0px;
    padding: 0px;
    color: rgba(63, 22, 22, 0.801);
}

.info-profile p{
    margin: 1px;
    padding: 0px;
    color: rgba(114, 13, 13, 0.801);
}

  .menu {
    background: #66bb6a linear-gradient(90deg, rgba(109, 204, 114, 1) 17%,rgba(102, 187, 106, 1) 66%,rgba(185, 224, 213, 1) 100%);;
    display: flex;
    position: fixed;
    text-align: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
    background-color: rgb(6 27 9 / 85%);
    box-shadow: 10px 5px 5px #d3c4c4;
    align-items: center;
  }

  .menu > li {
    float: left;
    color: #e298e1;
    width: 140px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 17px;
  }
  .sub-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  .sub-menu li {
    font-size: 17px;
    font-weight: 700;
    background: white;
    padding: 8px 0;
    color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }

  .sub-menu li:last-child {
    border-bottom: 0;
  }

  .sub-menu li:hover {
    background: white;
  }

  .menu > li:hover .sub-menu li {
    transform: scale(1);
  }

  .menu > li:hover .sub-menu {
    transform: scale(1);
  }

  li:hover{
    color: black;
    border-bottom: 3px solid rgb(100, 138, 97);
}