a:hover {
    text-decoration: none;
  }

body{
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

.app {
    padding: 0;
    margin: 0;
    position: fixed;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
}

.export-button {
    text-align: center;
    margin: 10px;
    text-decoration: none;
    background-color: rgb(39, 63, 36);
    box-shadow: 3px 5px 5px #d3c4c4;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 6px;
    border-radius: 8px;
}